In [36]:
import csv

l=[]

with open("csv_file.csv", "r") as f:
    data_handler = csv.reader(f)
    for row in data_handler:
        l.append(tuple(row))
        
print(l)

[('111', 'Talal', 'AI'), ('222', 'Arsalan', 'CNC'), ('333', 'Bilal', 'Bchain')]

In [23]:
import mysql.connector

# import sys
# print(sys.version)


connection = mysql.connector.connect(host='127.0.0.1', port=3306, user='root', password='', db='piaic')

query = '''CREATE TABLE piaic (
id varchar(50),
name varchar(100),
course varchar(100)
)'''



cur = connection.cursor()
cur.execute(query)

ProgrammingError: 1050 (42S01): Table 'piaic' already exists

In [38]:
import mysql.connector

# import sys
# print(sys.version)

connection = mysql.connector.connect(host='127.0.0.1', port=3306, user='root', password='', db='piaic')

query = '''INSERT INTO piaic (id, name, course) VALUES (%s,%s,%s)'''



cur = connection.cursor()
cur.executemany(query,l)
connection.commit()